<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" lang="en">
<head>
  <title>SDGUJI</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content">
  <h1>Página principal</h1>
  Las SDGs, o Objetivos de Desarrollo Sostenible, son un conjunto de metas y objetivos globales establecidos por las Naciones Unidas para abordar los desafíos económicos, sociales y ambientales que enfrenta el mundo. Fueron adoptados por los líderes mundiales en septiembre de 2015 como parte de la Agenda 2030 para el Desarrollo Sostenible.
  Las SDGs constan de 17 objetivos interconectados, cada uno con metas específicas a alcanzar en un plazo de 15 años, hasta 2030. Estos objetivos abarcan una amplia gama de temas y problemáticas, incluyendo la pobreza, el hambre, la salud, la educación, la igualdad de género, el agua y saneamiento, la energía, el trabajo decente, el crecimiento económico, la reducción de las desigualdades, la acción climática, la conservación de los ecosistemas, la paz y la justicia, entre otros.
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0XTBYMfZyrM"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <h5>Las SDGs son un llamado a la acción global y a la colaboración entre los países y las diversas partes interesadas para lograr un mundo más justo, próspero y sostenible para las generaciones presentes y futuras.</h5>
</div>
</body>
</html>
