<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>European SDGs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>European Stablished SDGs</h1>
<table>
    <tbody>
    <tr>
        <th><a href="https://sdgs.un.org/es/goals/goal1"><img src="/EUsdgImages/E-WEB-Goal-01.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal2"><img src="/EUsdgImages/E-WEB-Goal-02.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal3"><img src="/EUsdgImages/E-WEB-Goal-03.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal4"><img src="/EUsdgImages/E-WEB-Goal-04.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal5"><img src="/EUsdgImages/E-WEB-Goal-05.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal6"><img src="/EUsdgImages/E-WEB-Goal-06.png" width="250" height="250" alt=""></a></th>
    </tr>
    <tr>
        <th><a href="https://sdgs.un.org/es/goals/goal7"><img src="/EUsdgImages/E-WEB-Goal-07.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal8"><img src="/EUsdgImages/E-WEB-Goal-08.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal9"><img src="/EUsdgImages/E-WEB-Goal-09.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal10"><img src="/EUsdgImages/E-WEB-Goal-10.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal11"><img src="/EUsdgImages/E-WEB-Goal-11.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal12"><img src="/EUsdgImages/E-WEB-Goal-12.png" width="250" height="250" alt=""></a></th>
    </tr>
    <tr>
        <th><a href="https://sdgs.un.org/es/goals/goal13"><img src="/EUsdgImages/E-WEB-Goal-13.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal14"><img src="/EUsdgImages/E-WEB-Goal-14.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal15"><img src="/EUsdgImages/E-WEB-Goal-15.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal16"><img src="/EUsdgImages/E-WEB-Goal-16.png" width="250" height="250" alt=""></a></th>
        <th><a href="https://sdgs.un.org/es/goals/goal17"><img src="/EUsdgImages/E-WEB-Goal-17.png" width="250" height="250" alt=""></a></th>
        <th>
            <div class="d-flex justify-content-center align-items-center">
                <a href="/SDG/list/0" class="btn btn-primary">Volver</a>
            </div>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>